.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #fff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* ----------------common---------------- */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.primary-text-color {
  color: var(--primary-text-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent-color {
  color: var(--accent-color);
}

/* ----------------header---------------- */

.logo-header-color {
  color: #000;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* ----------------main index.html---------------- */

.h1-order-service {
  background-color: #2f303a;
}

.h1 {
  color: #fff;
  text-align: center;
}

.button-order-service {
  color: #fff;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.index-h3-our-features {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.index-p-our-features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.index-h3-what-we-do {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.index-h3-our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.index-h3-member-of-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.index-p-member-of-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

/* ----------------main portfolio.html---------------- */

.button {
  background-color: #f5f4fa;
  cursor: pointer;
}

/* ----------------footer---------------- */

.footer-background {
  background-color: #2f303a;
}

.logo-footer-color {
  color: var(--primary-bg-color);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.footer-link-color {
  color: rgba(255, 255, 255, 0.6);
}
